.env
table.csv
.venv
dump.rdb
nohup.out
pyproject.toml
.dockeringore
logs
infra
uploads
cookies.txt
router_*.pyс
cookies.txt
nohup.out
.pytest_cache
__pycache__
**/__pycache__
*.py[cod]
celerybeat-schedule*
tests/*.sh
